* {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
ul,
li {
    padding: 0;
    margin: 0;
}

img{
    height: auto;
    max-width: 100%;
}

button {
    outline: none;
    border: none;
    color: #0066f5;
    font-weight: 600;
    background-color: transparent;
    font-family: "BRFirma", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.primary-btn {
    background-color: #0066f5;
    color: #fff;
    min-height: 44px;
    padding: 0 20px;
    border-radius: 6px;
    min-height: 38px;
    padding: 0 17px;
    box-shadow: 0 4px 6px 1px rgb(0 102 245 / 18%);
}

@font-face {
    font-family: BRFirma;
    src: url('./BRFirma-Regular.ttf');
}

body {
    font-family: "BRFirma", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    border: 1px solid;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1600px;
    padding: 0 20px;
    margin: auto;
}

.header {
    height: 70px;
    gap: 80px;

}

.head {
    background-color: #0066f5;
    height: 35px;
    display: flex;
    justify-content: center;

}

.nav {
    justify-content: space-between;
    width: 100%;
}

.nav-links ul {
    list-style: none;
    gap: 15px;
}

.nav-links ul li {
    color: #6c82a3;
    font-size: 14px;
}

.nav-btns {
    gap: 15px;
}

.mobile {
    display: none;
}









.head h3 {
    text-align: center;
    color: white;
    font-size: 13px;
}



.personal:hover .nav-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links:hover .nav-navbar {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-links {
    color: #6c82a3;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    text-decoration: none;
}

.nav-navbar li a {
    text-decoration: none;
    color: #6c82a3;
    ;
}

.barr {
    display: flex;
    gap: 20px;
    align-items: center;

}

.log {
    position: relative;
    right: 20px;
}

.sign {
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: 1.2rem;
}

.rectangle {
    /* height: 800px; */
    /* width: 400px;
    background-color: #FFF6ED;
    margin-top: 50px; */
    position: relative;
}




.wura {
    font-size: 14px;
    /* border: 1px solid; */
    height: auto;
    width: 300px;
    color: grey;
    background-color: white;
    position: absolute;
    padding: 20px;
    bottom: -32px;
    right: 28px;
}

.wur {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-top: 20px;
}

.put {
    font-size: 80px;
    color: #022B69;
    font-weight: 600;
    line-height: 68px;

}


.putt {
    width: 645px;
    font-size: 5.5rem;
}

.buildd {
    font-size: 15px;
    color: #A2B1C8;
    margin: 20px 0;
}

.email {
    min-height: 38px;
    font-size: 13px;
padding: 0 5px;
    border-radius: 5px;
    background: transparent;
    border: 0.2px #E3E8EF solid;

}

.email::placeholder{
    font-size: 13px;
    font-family: "BRFirma", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.start {
    background-color: #0066f5;
    width: 200px;
    font-size: 1rem;
    border-radius: 5px;
    /* height: 30px; */
    padding: 15px;
    color: white;
    position: absolute;
    top: 220px;
    left: 350px;
    margin-top: 58px;
}


.emaill form {
    /* justify-content: space-between; */
    /* width: 630px; */
    gap: 10px;

}



.license {
    position: absolute;
    right: 15px;
    top: 930px;
    font-size: 12px;
}

.get {
    /* width: 700px;
    margin-top: 70px;
    height: 250px; */
}

.get h1 {
    color: #022B69;
    font-size: 37px;
    font-weight: 600;
    /* line-height: 1; */
    margin-bottom: 16px;
}

.get p {
    color: #7A90B0;
    font-size: 1.1rem;
}

.saving {
     
    height: 700px;
    background-color: #F4F6FF;
    border-radius: 5px;
    position: relative;
    padding-left: 40px;
}

.saving img {
    position: absolute;
    right: 0;
    bottom: 0px;
}

.clone-img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(323deg) brightness(102%) contrast(101%);
}

.saving a {
    color: #5797F2;
    text-decoration: none;
    font-size: 0.8rem;
}

.saving h3 {
    color: #96A7C5;
    margin-top: 70px;
    font-size: 1.5rem;
}

.saving h1 {
    color: #022B69;
    margin: 30px 0;
    font-size: 1.5rem;
}

.saving p {
    color: #748BB0;
    margin-bottom: 30px;
    font-size: 1rem;
}

.mutual {
     
    height: 700px;
    background-color: #E1F6FF;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    padding-left: 40px;
}

.mutual img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.mutual a {
    color: #5797F2;
    text-decoration: none;
    font-size: 0.8rem;
}

.mutual h3 {
    color: #96A7C5;
    margin-top: 70px;
    font-size: 1.5rem;
}

.mutual h1 {
    color: #022B69;
    margin: 30px 0;
    font-size: 1.5rem;
}

.mutual p {
    color: #748BB0;
    margin-bottom: 30px;
    font-size: 1rem;
}

.stash {
     
    height: 700px;
    background-color: #0066F5;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    padding-left: 40px;
    color: white;
    /* margin-left: 30px; */
}

.stash img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.stash a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.stash h3 {
    color: white;
    margin-top: 70px;
    font-size: 1.5rem;
}

.stash h1 {
    color: white;
    margin: 30px 0;
    font-size: 1.5rem;
}

.stash p {
    color: hsla(0,0%,100%,.6);
    margin-bottom: 30px;
    font-size: 1rem;
}

.container1 {
    display: flex;
    flex-direction: column;
    /* margin-left: 35px; */
}

.container2 {
    display: flex;
    flex-direction: column;
}

.circles {
     
    height: 700px;
    background-color: #FFF6EE;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    padding: 0 20px;
   
}

.circles img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.circles a {
    color: #5797F2;
    text-decoration: none;
    font-size: 0.8rem;
}

.circles h3 {
    color: #96A7C5;
    margin-top: 70px;
    font-size: 1.5rem;
}

.circles h1 {
    color: #022B69;
    margin: 30px 0;
    font-size: 1.5rem;
}

.circles p {
    color: #748BB0;
    margin-bottom: 30px;
    font-size: 1rem;
}

.emergency {
     
    height: 700px;
    background-color: #FFF6EE;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    padding-left: 40px;
}

.emergency a {
    color: #5797F2;
    text-decoration: none;
    font-size: 0.8rem;
}

.emergency h3 {
    color: #96A7C5;
    margin-top: 70px;
    font-size: 1.5rem;
}

.emergency h1 {
    color: #022B69;
    margin: 30px 0;
    font-size: 1.5rem;
}

.emergency p {
    color: #748BB0;
    margin-bottom: 30px;
    font-size: 1rem;
}

.stocks {
     
    height: 700px;
    background-color: #F5F6FA;
    border-radius: 5px;
    margin-top: 40px;
    position: relative;
    padding-left: 40px;
}

.stocks img {
    position: absolute;
    right: 0;
}

.stocks a {
    color: #5797F2;
    text-decoration: none;
    font-size: 0.8rem;
}

.stocks h3 {
    color: #96A7C5;
    margin-top: 70px;
    font-size: 1rem;
}

.stocks h1 {
    color: #022B69;
    margin: 30px 0;
    font-size: 1.5rem;
}

.stocks p {
    color: #748BB0;
    margin-bottom: 30px;
    font-size: 1rem;
}

.containerA {
    display: grid;
    width: 95%;
    margin-top: 80px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.app-img {
    /* margin-left: 150px; */
}

.vertical-line {
    height: 100px;
    width: 0;
    border: #61A0F8 solid 0.2px;
    margin-left: 10px;
}

.ver {
    margin-bottom: 25px;
}

.ver p {
    margin-bottom: 16px;
    color: #61A0F8;
}

/* .build{
    position: relative;
} */
.build h1 {
    color: #022B69;
    position: absolute;
    top: 50px;
    font-size: 2.5rem;
    letter-spacing: -1px;
    width:auto;
}

.create h3 {
    color: #375788;
    font-size: 1.2rem;
}

.create p {
    color: #0066f5;
    font-size: 1rem;
    width: 65%;
}

.verr {
    display: flex;
    gap: 50px;

}

.ver p {
    font-size: 1rem;
}

.btn {
    width: 150px;
    height: 35px;
    border-radius: 5px;
    background-color: #0066F5;
    padding: 2px;
    color: white;
    border: none;
    margin-top: 80px;
    /* position: absolute;
    bottom: 90px; */
}

.containerB {
    display: flex;
    gap: 270px;
    background-color: #FCFCFC;
    height: 800px;
    /* width: 100%; */
    /* margin-top: 200px; */
    /* padding-top: 20px; */
    align-items: center;
    justify-content: center;
    /* padding-left: 60px; */
    position: relative;
    margin: 200px auto;
}

.containerC {
    background-color: #0066F5;
    padding: 60px 40px;
    color: white;
    /* width: 100%; */
}

.keep {
    color: white;
    font-size: 3rem;
    width: 45%;
}

.trust {
    color: white;
    font-size: 1.2rem;
    width: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.3;
}

.containerC a {
    color: #84B5FA;
    text-decoration: none;
    font-size: 0.9rem;
    padding-bottom: 20px;
    padding-top: 40px;
}

.bank {
    width: 60%;
    line-height: 1.5;
}

.clone {
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.bank h3 {
    margin-bottom: 10px;
}

.Cont-C {
    display: flex;
    gap: 0px;
}

.ratee {
    background-color: white;
    height: 200px;
    border-radius: 7px;
    width: 50%;
    border: 1px solid rgba(2, 43, 105, .07);
    box-shadow: 1px 12px 24px rgb(2 43 105 / 5%);
    padding: 40px;

}

#margin {
    margin-right: 40px;
}

.box {
    display: flex;
}

.rating {
    font-size: 2rem;
    color: #022B69;
}

.rating span {
    color: #aeb9cc;
    font-size: 1.5rem;
}

.rate {
    display: flex;
    position: relative;
}

.rate button {
    position: absolute;
    right: 0px;
    padding: 10px 30px;
    background-color: #022B69;
    border: 1px #022B69 solid;
}

.get-btn a {
    color: white;
    text-decoration: none;

}

#get-btn {
    width: 150px;
}

.fa {
    padding: 10px 0;
    position: absolute;
    left: 160px;
    color: yellow;
}

.download-now{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    color: #0066f5;;
    margin-top: 0;
}

.paragraph {
    margin-bottom: 20px;
    margin-top: 20px;
}

.available {
    margin-top: 20px;
}

.why {
    margin: 40px 0;
    text-transform: uppercase;
}

.charge {
    color: #aeb9cc;
    font-size: 3rem;
    margin-bottom: 60px;
}

.charge span {
    color: #022B69;
}

.wh {
    padding-left: 15px;
}

.sign-up {
    margin: 100px 20px;
    background-color: #0066f5;
    border-radius: 12px;
    padding: 80px 0;
    display: flex;
   justify-content: space-between;
    box-shadow: 0 59px 51px -34px rgb(0 103 245 / 30%);
    width: 97%;
}

.sign-up h1 {
    font-size:24px;
    line-height: 1.4;
    color: #fff;
}

.email-field {
    padding: 15px 34px;
    border-radius: 6px;
    background-color: #B9DDFD;
    width: 350px;
    border: none;
}

.sign-btn {
    color: #022b69;
    background-color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    position: absolute;
    left: 246px;
    top: 4px;
}

.email-field-whole {
    position: relative;

}

.links a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgba(2, 43, 105, .6);
}

.links a:hover {
    color: #0066f5;
}

.footer-links h3 {
    /* padding: 10px; */
    color: #022B69;
}

.footer-links {

    /* padding-left: 10px; */
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;

}

.company-pro,
.resource-contact {
    display: flex;
   gap: 180px;
}

hr {
    height: 1px;
    border: 0;
    background-color: rgba(2, 43, 105, .05);
}

.contact-links {
    display: flex;
    list-style: none;
    gap: 10px;
    padding: 30px 0;
}

.ContainerE p {
    /* margin: 10px 0; */
    line-height: 1.3;
    font-size: 16px;

}

.ContainerE a {
    text-decoration: none;
    color: #0066f5;
    cursor: pointer;
}

.footer-para2 {
    color: rgba(2, 43, 105, .48);
}
.footer-para2-1{
    color: rgba(2, 43, 105, .48);
}

.ContainerE {
    position: relative;
    font-family: "CW BR Firma", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding-bottom: 60px;
}

.ng {
    color: #022b69;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 10px;
}

.fin {
    padding-top: 30px;
}

.sec-sec {
    display: flex;
    /* gap: 10px; */
    border: 0.5px rgba(2, 43, 105, .06) solid;
    box-shadow: 1px 8px 11px rgba(2, 43, 105/2%);
    padding: 12px 28px 12px 20px;
    background: #fff;
    border-radius: 5px;
    width: 200px;
    margin-right: 0;
    /* position: absolute;
    top: 80px;
    right: 10px; */

}
.ng-div{
    display: flex;
    justify-content:space-between;
}
.sec-2 {
    display: flex;
    flex-direction: column;
}

.license2 {
    margin-bottom: 0px;
    color: #022b69;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 1rem;
}

.licensed {
    margin-top: 0px;
    padding-top: 0px;
    color: rgba(2, 43, 105, .6);
    font-size: 0.8rem;
}

.rect-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.sign-free{
    padding-left: 50px;
}
.e-mail{
    padding-right: 50px;
}


@media screen and (max-width: 425px) {
    .navbar {
        /* overflow: hidden; */
        background-color: red;
        position: relative;

    }
    .bank{
        width: 100%;
        line-height: 1.3;
        justify-content: center;
        align-content: center;
    }
   
    

    .navbar,
    .nav-nav-bar {
        display: block;
    }

    .navbar a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .wura{
        width: 80%;
    margin: auto;
    right: 12px;
    }
    .fa-solid fa-bars {
        background: black;
        display: block;
        position: absolute;
        right: 0px;
        top: 0;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }
    .saving{
        margin-top: 30px;
        /* width: 100%; */
    }

    .containerA {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .container1 {
       margin-top: 70px;
    }
    .section-img {
        width: 300px;
    }

    .saving,
    .mutual,
    .get,
    .stash,
    .circles,
    .emergency,
    .stocks {
        width: 90%;
        
    }

    .containerB {
        display: flex;
        background-color: white;
        flex-direction: column;
        margin-top: 500px;
        height: 650px;
    

    }

    .app-img {
        width: 300px;
        height: 600px;
    }

    .containerC {
        margin-top: 570px;
    }

    .box {
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    .ratee {
        width: 100%;
        margin-top: 50px;
    }

    .payment-div {
        width: 100%;
        margin-top: 0px;
        height: 600px;
    }

   .build h1 {
        position: absolute;
        top: 350px;
        font-size: 2rem;
        width: auto;
        text-align: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .company-pro{
        gap: 50px;
    } 
    
  .resource-contact{
      margin-top: 30px;
      gap: 50px;
  }


    
    .Cont-C {
        display: flex;
        flex-direction: column;
        /* justify-content:space-between; */
        align-items: center;
    }
    .btn {
        /* justify-content: center;
        align-items: center; */
      margin-left: 80px;
       align-self: center;

    }

    .keep {
        width: 105%;
    }

    .trust {
        width: 100%;
    }

    
    .container-r {
        padding: 0 20px;
        margin: auto;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        
    }
    .e-mail{
        padding-top: 90px;
    }

    .email-field-whole {
        display: flex;
        /* padding-top: 0; */
    }
    .email-field{
        display: flex;
        flex-direction: column;
        width: 250px;
        margin-bottom: 15px;
        position: relative;
       top: -60px;
       

    }
    .sign-btn {
        color: #022b69;
        background-color: white;
        padding: 10px 30px;
        border: none;
        border-radius: 6px;
        position: absolute;
        width: 200px;
        left: 5px;
        top: 84px;
    }
    .ng-div{
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .sign-up {
        margin: 50px auto;
        background-color: #0066f5;
        border-radius: 12px;
        height: 300px;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 85%;
    }
    .sign-free h1{
        padding-top: 50px;
        padding-left: 50px;
    }

    .free {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
    }

    .start-invest {
        display: flex;
        position: absolute;
        top: 40px;
        left: 0;
        font-size: 18px;
    }
    .ContainerE {
        width: 90%;
        margin: auto;
        padding-bottom: 60px;
    }
    /* .sec-sec {
        display: flex;
        flex-direction: column;
    } */

    .navbar {
        width: 100%;
    }

    .head {
        width: 100%;
    }




    .start {
        background-color: #0066f5;
        width: 200px;
        font-size: 1rem;
        border-radius: 5px;
        /* height: 30px; */
        padding: 8px;
        margin-left: 5px;
        color: white;
        position: absolute;
        top: 220px;
        left: 0px;
        margin-top: 58px;
    }

    .wealth {
        position: relative;
        top: 1800px;
    }
   
}





@media screen and (max-width: 768px) {
    .desktop, .mobile-navlinks {
        display: none;
        font-size: 13px;
        list-style: none;
    }
    .mobile-navlinks li{
        padding-bottom: 5px;
        background-color: white;
    }
    .mobile-navlinks{
        margin-top: 8px;
    } 
    .mobile {
        display: block;
    }

    .header{
        justify-content: space-between;
    }

    .navbar-trigger{
        font-size: 25px;
        color: #0066f5;
    }
    .navbar-trigger:hover .mobile-navlinks{
        display: block;
    }

    .rect-div{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
}

